.text-white-transparent-7 {
    color: rgba(255, 255, 255, .7) !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(101, 126, 174, .25);
    border-radius: 9px;
}

.text-white {
    color: #fff !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.bg-white {
    background-color: #fff !important;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .65625rem;
    background-color: #dae0ec;
    border-radius: 6px;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.overflow-hidden {
    overflow: hidden !important;
}

.bg-black-transparent-5 {
    background: rgba(0, 0, 0, .5) !important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.mt-n1, .my-n1 {
    margin-top: -.25rem !important;
}

.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}

.mb-n4, .my-n4 {
    margin-bottom: -1.5rem !important;
}

.mr-n4, .mx-n4 {
    margin-right: -1.5rem !important;
}

.mb-n3, .my-n3 {
    margin-bottom: -1rem !important;
}

.bg-blue {
    background-color: #1f6bff;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.btn-yellow {
    color: #212837;
    background-color: #fc0 !important;
    border-color: #fc0 !important;
}

.bg-gradient-custom-orange {
    background: linear-gradient(to left, #ff784a, #ff926d) !important;
}

.bg-gradient-custom-teal {
    background: linear-gradient(to left, #0aab7b, #0cd096) !important;
}

.bg-gradient-custom-pink {
    background: linear-gradient(to left, #e15671, #e7758a) !important;
}

.bg-gradient-custom-indigo {
    background: linear-gradient(to left, #8845f5, #aa7af8) !important;
}

.text-white-transparent-8 {
    color: rgba(255, 255, 255, .8) !important;
}

.btn-yellow:not(:disabled):not(.disabled).active:focus, .btn-yellow:not(:disabled):not(.disabled):active:focus, .show>.btn-yellow.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(222, 179, 8, .5);
}

.btn-yellow:not(:disabled):not(.disabled).active, .btn-yellow:not(:disabled):not(.disabled):active, .show>.btn-yellow.dropdown-toggle {
    color: #212837;
    background-color: #cca300;
    border-color: #bf9900;
}

.ml-n3, .mx-n3 {
    margin-left: -1rem !important;
}

.fs-16px {
    font-size: 16px !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.fs-14px {
    font-size: 14px !important;
}

.fs-13px {
    font-size: 13px !important;
}

.pl-5, .px-5 {
    padding-left: 3rem !important;
}

.pr-5, .px-5 {
    padding-right: 3rem !important;
}

.pt-2, .py-2 {
    padding-top: .5rem !important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}

.mt-3, .my-3 {
    margin-top: 1rem !important;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.mb-n2, .my-n2 {
    margin-bottom: -.5rem !important;
}

.bg-white-transparent-2 {
    background: rgba(255, 255, 255, .2) !important;
}


.rounded {
    border-radius: 6px !important;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}

li.nav-item.d-flex.align-items-center.mobileviews {
    display: none !important;
}
@media (max-width: 524px) {
    li.nav-item.d-flex.align-items-center.mobileviews {
    display: block !important;
     margin-right: 152px;
}
}

@media (max-width: 424px) {
    li.nav-item.d-flex.align-items-center.mobileviews {
    display: block !important;
        margin-right: 109px;
}
}

@media (max-width: 320px) {
    li.nav-item.d-flex.align-items-center.mobileviews {
        display: block !important;
        margin-right: 49px;
    }
}